extends layout

block content
  if authorized && data
    div.jumbotron
      header
        h1 Statify
        p Statistics about your musical habits on Spotify.

    div.wrapper
      script(src="js/Chart.min.js")

      if data.top_artists
        h2 Your Top Artists
        table.data(cellpadding="0", cellspacing="0")
          thead
            tr
              td="Rank"
              td.art="Art"
              td="Artist"
              td="Popularity Rating"
              td="Followers"
              td="Top Genres"
          tbody
            -var index = 1

            each artist in data.top_artists
              tr
                td.rank=index++
                td.art
                  a(href=artist.url, rel="noopener", target="_blank")
                    img(src=artist.images[0].url, alt=artist.name)
                td
                  a(href=artist.url, rel="noopener", target="_blank")=artist.name
                td #{artist.popularity}
                  p.dim="/100"
                td
                  i #{artist.followers_str}
                td
                  ul.genres
                    each genre in artist.genres
                      li=genre
        //-
          div.cards
            -var index = 1
            each artist in data.top_artists
              div.card
                span.badge=index++
                div.card-header
                  if artist.images
                    div.card-image
                      a(href=artist.url, rel="noopener", target="_blank")
                        img(src=artist.images[0].url, alt=artist.name)
                  progress.popularity(max="100", value=artist.popularity)
                div.card-content
                  p.title
                    a(href=artist.url, rel="noopener", target="_blank")=artist.name
                  p.artist-details.small
                    i #{artist.followers_str} followers
                  ul.genres
                    each genre in artist.genres
                      li=genre
                    
        canvas(id="artist-popularity")
        canvas(id="artist-followers")
        script.
          // Artist popularity chart
          var ctx = document.getElementById('artist-popularity').getContext('2d');
          var chart = new Chart(ctx, !{data.charts.artist_popularity});
          
          // Artist followers chart
          ctx = document.getElementById('artist-followers').getContext('2d');
          chart = new Chart(ctx, !{data.charts.artist_followers});
      else
        p There were no top artists found for your account.
      
      if data.top_tracks
        h2 Your Top Tracks
        table.data(cellpadding="0", cellspacing="0")
          thead
            tr
              td="Rank"
              td.art="Album Art"
              td="Track"
              td="Artist"
              td="Popularity Rating"
              td="Duration"
          tbody
            -var index = 1
            
            each track in data.top_tracks
              tr
                td.rank=index++
                td.art
                  if track.album.images
                    a(href=track.url, rel="noopener", target="_blank")
                      img(src=track.album.images[0].url, alt=track.name)
                td
                  a(href=track.url, rel="noopener", target="_blank")=track.name
                td 
                  each artist in track.artists
                    a(href=artist.url, rel="noopener", target="_blank")=artist.name
                td #{track.popularity}
                  p.dim="/100"
                td=track.duration
        //-
          div.cards
            -var index = 1
            each track in data.top_tracks
              div.card
                span.badge=index++
                div.card-header
                  if track.album.images
                    div.card-image
                      a(href=track.url, rel="noopener", target="_blank")
                        img(src=track.album.images[0].url, alt=track.name)
                  progress.popularity(max="100", value=track.popularity)
                div.card-content
                  p.title
                    a(href=track.url, rel="noopener", target="_blank")=track.name
                    br
                    each artist in track.artists
                      p.medium
                        a(href=artist.url, rel="noopener", target="_blank")=artist.name
                  p.track-details.small Duration: 
                    i #{track.duration}
                  audio(id="song", ontimeupdate="updateTime()")
                    source(src=track.preview_url, type="audio/mpeg")
                    | Your browser does not support the audio tag.
                  div(id="songPlay", onclick="play('song')")=Play
                  div(id="songPause", onclick="pause()")=Pause
                  div(id="songPlayPause", onclick="playPause('song')")=PlayPause
                  div(id="songStop", onclick="stopSong()")=Stop
                  div(id="songTime")
                    | 0:00 / 0:00
                  div(id="volumeUp", onclick="changeVolume(10, 'up')")=Plus
                  br
                  div(id="volumeDown", onclick="changeVolume(10, 'down')")=Minus
                  div(id="volumeMeter", onclick="setNewVolume(this,event)")
                    div(id="volumeStatus")
                  div(id="songSlider", onclick="setSongPosition(this,event)")
                    div(id="trackProgress")
        canvas(id="track-popularity")
        script.
          // Track popularity chart
          var ctx = document.getElementById('track-popularity').getContext('2d');
          var chart = new Chart(ctx, !{data.charts.track_popularity});
      else
        p There were no top tracks found for your account.
    footer
      p Statify is not affiliated with Spotify AB.
  else
    div.hero
      header.animated.fadeInDown
        h1 Statify
        p Statistics about your musical habits on #[a(href="https://www.spotify.com/", target="_blank", rel="noopener")="Spotify"].
        div.form-container
          form.auth-form(name="auth-statify", method="post", action="authorize")
            input(type="submit", value="Authorize Statify")
      footer.sticky-footer 
        p Statify is not affiliated with Spotify AB.
