extends layout

block content
  div.wrapper
    if authorized && data
      if data.top_artists
        h2 Your Top Artists
        div.cards
          each artist in data.top_artists
            div.card
              if artist.images
                div.card-image
                  img(src=artist.images[0].url, alt=artist.name)
              div.card-content
                p.title=artist.name
                p.artist-details Followers: 
                  i #{artist.followers}
                ul.genres
                  each genre in artist.genres
                    li=genre
      else
        p There were no top artists found for your account.
    else
      div.form-container
        form.auth-form(name="auth-statify", method="post", action="authorize")
          div.actions
            input(type="submit", value="Authorize Statify")
