extends layout

block content
  div.wrapper
    if authorized && data
      if data.top_artists
        h2 Your Top Artists
        div.cards
          -var index = 1
          each artist in data.top_artists
            div.card
              span.badge=index++
              div.card-header
                if artist.images
                  div.card-image
                    a(href=artist.url, rel="noopener", target="_blank")
                      img(src=artist.images[0].url, alt=artist.name)
                progress.popularity(max="100", value=artist.popularity)
              div.card-content
                p.title
                  a(href=artist.url, rel="noopener", target="_blank")=artist.name
                p.artist-details.small
                  i #{artist.followers} followers
                ul.genres
                  each genre in artist.genres
                    li=genre
      else
        p There were no top artists found for your account.
      
      if data.top_tracks
        h2 Your Top Tracks
        div.cards
          -var index = 1
          each track in data.top_tracks
            div.card
              span.badge=index++
              div.card-header
                if track.album.images
                  div.card-image
                    a(href=track.url, rel="noopener", target="_blank")
                      img(src=track.album.images[0].url, alt=track.name)
                progress.popularity(max="100", value=track.popularity)
              div.card-content
                p.title
                  a(href=track.url, rel="noopener", target="_blank")=track.name
                  br
                  each artist in track.artists
                    p.medium
                      a(href=artist.url, rel="noopener", target="_blank")=artist.name
                p.track-details.small Duration: 
                  i #{track.duration}
                //-
                  audio(id="song", ontimeupdate="updateTime()")
                    source(src=track.preview_url, type="audio/mpeg")
                    | Your browser does not support the audio tag.
                  div(id="songPlay", onclick="play('song')")=Play
                  div(id="songPause", onclick="pause()")=Pause
                  div(id="songPlayPause", onclick="playPause('song')")=PlayPause
                  div(id="songStop", onclick="stopSong()")=Stop
                  div(id="songTime")
                    | 0:00 / 0:00
                  div(id="volumeUp", onclick="changeVolume(10, 'up')")=Plus
                  br
                  div(id="volumeDown", onclick="changeVolume(10, 'down')")=Minus
                  div(id="volumeMeter", onclick="setNewVolume(this,event)")
                    div(id="volumeStatus")
                  div(id="songSlider", onclick="setSongPosition(this,event)")
                    div(id="trackProgress")

        script(src="js/Chart.min.js")
        canvas(id="artist_popularity")
        script.
          var ctx = document.getElementById('artist_popularity').getContext('2d');
          var chart = new Chart(ctx, !{data.charts.artist_popularity});
      else
        p There were no top tracks found for your account.
    else
      div.form-container
        form.auth-form(name="auth-statify", method="post", action="authorize")
            input(type="submit", value="Authorize Statify")
