extends layout

block content
  div.wrapper
    if authorized && data
      if data.top_artists
        h2 Your Top Artists
        div.container
          each artist in data.top_artists
            div.artist
              if artist.images
                div.artist-image
                  img(src=artist.images[0].url, alt=artist.name)
              div.artist-info
                p.artist-name=artist.name
                p.artist-details Followers: #{artist.followers}
                p.artist-details Genres: #{artist.genres.join(', ')}
      else
        p There were no top artists found for your account.
    else
      div.form-container
        form.auth-form(name="auth-statify", method="post", action="authorize")
          div.actions
            input(type="submit", value="Authorize Statify")
